<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="e1" class="com.ms.Employee">
		<constructor-arg value="1010" />
		<constructor-arg value="manish" />
		<constructor-arg ref="adr1" />
		<constructor-arg>
			<set>
				<value>abc@gmail.com</value>
				<value>abc@yahoo.com</value>
			</set>
		</constructor-arg>
		<constructor-arg>
			<props>
				<prop key="office">114455</prop>
				<prop key="residence">564564</prop>
			</props>
			<!--
			<map>
				<entry key="office" value="112233"/>
				<entry key="residence" value="334455"/>
			</map>
			-->
		</constructor-arg>
		<!-- <property name="code" value="5001" /> <property name="name" value="amit" 
			/> <property name="address" ref="adr1" /> <property name="emails"> <list> 
			<value>abc@gmail.com</value> <value>abc@yahoo.com</value> </list> </property> -->
	</bean>
	<bean id="adr1" class="com.ms.Address">
		<property name="hno" value="444" />
		<property name="street" value="xyz-street" />
		<property name="city" value="indore" />
	</bean>
	<bean id="adr2" class="com.ms.Address">
	</bean>

</beans>

